<footer>
  <% const d = new Date(); const year = d.getFullYear(); %>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p class="footer-demo-link">
    <a href="/inv/error-test">error link</a>
  </p>
</footer>